:root {
  --primary-dark: #074156;
  --primary-tint: #dffbfd;
  --secondary-tint: #baedff;
  --border: #e3e7ec;
  --success: #1f4a24;
  --success-bg: #dbf1de;
  --danger: #761817;
  --danger-bg: #f3d4d4;
  --warning: #5b5724;
  --warning-bg: #f6f2c8;
  --neutral-60: #707070;
  --shadow: rgba(0, 0, 0, .1) 0 1px 3px, rgba(0, 0, 0, .1) 0 1px 2px -1px;
}
